{{#each mixes}}

    <div class="mix {{slug}}" data-rating="{{rating}}">
      <h3>{{title}}</h3>
      <div id="cp_container_{{slug}}" class="cp-container">
        <div class="cp-buffer-holder"> 
          <div class="cp-buffer-1"></div>
          <div class="cp-buffer-2"></div>
        </div>
        <div class="cp-progress-holder"> 
          <div class="cp-progress-1"></div>
          <div class="cp-progress-2"></div>
        </div>
        <div class="cp-circle-control"></div>
        <ul class="cp-controls">
          <li><a class="cp-play" tabindex="1">{{!-- play --}}</a></li>
          <li>
            <a class="cp-pause" style="display:none;" tabindex="1">{{!-- pause --}}</a>
          </li> 
        </ul>
      </div>

      <div class="mix__details"
        <h5>
          <div class="genres progressive"> 
            <span class="rating" data-rating="{{rating}}">
              V{{rating}}
            </span>
            {{genres}}
          </div> 
           <div class="date way-subdued">
            {{date}}
          </div>
        </h5>
        
        <div class="downloads">
          <a href="http://djmountainous.com/mixes/dj-mountainous-{{slug}}.mp3">mp3 dl</a>
        </div>  
      </div> <!-- .mix__details -->
    </div><!-- .mix -->

{{/each}}