{{#each mixes}}
  <div class="col-sm-6 col-xs-12">
    <div class="mix">
      <h3>{{title}}</h3>
      <h5>
        <span class="genres progressive">
          {{genres}}
        </span> 
           
         <span class="date way-subdued">{{date}}</span>
      </h5>

      <div id="cp_container_{{slug}}" class="cp-container">
        <div class="cp-buffer-holder"> 
          <!-- .cp-gt50 only needed when buffer is > than 50% -->
          <div class="cp-buffer-1"></div>
          <div class="cp-buffer-2"></div>
        </div>
        <div class="cp-progress-holder"> 
          <!-- .cp-gt50 only needed when progress is > than 50% -->
          <div class="cp-progress-1"></div>
          <div class="cp-progress-2"></div>
        </div>
        <div class="cp-circle-control"></div>
        <ul class="cp-controls">
          <li><a class="cp-play" tabindex="1">play</a></li>
          <li><a class="cp-pause" style="display:none;" tabindex="1">pause</a></li> 
          <!-- Needs the inline style here, or jQuery.show() uses display:inline instead of display:block -->
        </ul>
      </div>
      <div class="downloads">
        <a href="http://djmountainous.com/mixes/{{slug}}.mp3">mp3</a>
        <!-- <br><span class="more-subdued">(Right-click &gt; save as...)</span> -->
      </div>  
    </div><!-- .mix -->
  </div><!-- .col -->
{{/each}}